.dream{
    color:blue;
}
.dream {
    background-color: #DBE9EE;
    text-align: center;

  }

 .live {
        background-color: #DBE9EE;
        text-align: center;
        width: 400px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px;
      }
